<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" oncontextmenu="return false;" class="img-responsive" alt="">
                    
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" oncontextmenu="return false;" class="img-responsive" alt="">
                    
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" oncontextmenu="return false;" class="img-responsive" alt="">
                   
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" oncontextmenu="return false;" class="img-responsive" alt="">
                  
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" oncontextmenu="return false;" class="img-responsive" alt="">
                   
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" oncontextmenu="return false;" class="img-responsive" alt="">
                    
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box video-container">
                    <iframe src="https://www.youtube.com/embed/RFJM3z3_t_k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                   
                </div>
            </div>
             <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box video-container">
                    <iframe src="https://www.youtube.com/embed/XEiT_O3e0VM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                   
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box video-container">
                    <iframe src="https://www.youtube.com/embed/lO0Ro34Efwk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                   
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box video-container">
                    <iframe src="https://www.youtube.com/embed/okVnp8Nt_UQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                   
                </div>
            </div>
             <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box video-container">
                    <iframe src="https://www.youtube.com/embed/05UL1OHWOgc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                   
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box video-container">
                    <iframe src="https://www.youtube.com/embed/05UL1OHWOgc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                   
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/7.jpg" oncontextmenu="return false;" class="img-responsive" alt="">
                   
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/8.jpg" oncontextmenu="return false;" class="img-responsive" alt="">
                   
                </a>
            </div>
        </div>
    </div>
</section>
